body {
    padding-top: 50px;
}

.shed-container-full {
    padding-left: 0px;
    padding-right: 0px;
}

.intro-header {
    background-color: gray;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
    background-image: url('/images/jumbotronic-image.JPG');
    /*background-image: url('/images/jumbotronic-image-3.png');*/
}

.intro-header .site-heading, .intro-header .page-heading {
    text-align: center;
}

.intro-header .page-heading {
    padding: 200px 0 150px;
}

.intro-header .page-heading h1 {
    font-size: 120px;
    color: #333;
}

.intro-header .page-heading hr {
    font-weight: bold;
    width: 25%;
    border-width: 6px;
    margin-top: 20px;
}

.grid .cell{
    border: 1px solid #CCC;
    height: 30px;
    width: 30px;
}

.grid .full{
    background-color: #000;
}
