.intro-header {
    background-color: gray;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
    background-image: url('/images/jumbotronic-image.JPG');
    /*background-image: url('/images/jumbotronic-image-3.png');*/
}

.intro-header .site-heading, .intro-header .page-heading {
    text-align: center;
}

.intro-header .page-heading {
    padding: 200px 0 150px;
    color: #eee;
}

.intro-header .page-heading h1 {
    font-size: 120px;
}

.intro-header .page-heading hr {
    font-weight: bold;
    width: 25%;
    border-width: 6px;
    margin-top: 20px;
}
